*{margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 body{
    font-family: Arial, sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:#fafafa;
    gap: 30px;
    
 }
 

.login-container{

    background-color: #fafafa;
    border: 1px solid #dbdbdb;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 320px;
    
    
}
.logo{
    width: 180px;
    margin-bottom: 20px;
   

}

.login-form input{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #dbdbdb;

}

.button{
    width: 100%;
    display: inline-block;
    padding: 10px;
    font-size: small;
    color: white;
    background-color: #00b5e2;
    text-align: center;
    text-decoration: none; 
    border-radius: 10px;
}


.divider{
    margin:  15px 0;
    display: flex;
    align-items: center;
}
.divider::before , .divider::after{
    content: '';
    flex: 1;
    border-top: 1px solid #dbdbdb;

}



.ou{
     margin: 0 15px;
    color: black;
    font-size: 12px;
   
    
}
.linkface{
    display: flex;
    align-items: center; 
    justify-content: center; 
    gap: 5px;
    

}
.face{
    height: min-content;
    width: 14px;  

}

.facebook{
    color: #002d4d;
    text-decoration: none;
    display: contents;
    margin-top: 15px;
    font-size: smaller;
}


.Esqueceu{
    color: #185279;
    text-decoration: none;
    display: block;
    margin-top: 10px;
    font-size: 12px;
}

.baixar{
    display: flex;
    width: 100%;
    justify-content:center;
    align-items: center;
    padding: 10px;
    font-size: small;
    
}
.cadastrar{
    border: 1px solid #dbdbdb;
    display: flex;
    width: 100%;
    justify-content:center;
    align-items: center;
    padding: 20px;
    font-size: small;


    
}

.cadastro{
    color: #0095f6;
    text-decoration: none;
    display: flex;
    padding: 5px;

 

}

.apps{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    
}

.app1{
    height: 2rem;
    width: 8rem;
    background-size: cover;
}
.app2{
    height: 2rem;
    width: 8rem;
    background-size: cover;
}

.button:hover {
    background-color:#007acc;
}